/*
 * Modals
 */

.modal-overlay {
  z-index: $z-modal-overlay;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

$modal-width: 450px;
$modal-height: 450px;

.modal-content {
  overflow: auto;

  background: skyblue;
  box-shadow: yellow 15px 15px;

  position: absolute;
  z-index: $z-modal;

  @media (max-width: $breakpoint-small) {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @media (min-width: $breakpoint-small) {
    width: $modal-width;
    height: $modal-height;
    top: 50%;
    left: 50%;
    margin-top: -$modal-height/2 - 20px;
    margin-left: -$modal-width/2 - 20px;
  }

  padding: 20px;

  outline: none;
}

@media (max-width: $breakpoint-small) {
  .modal-open-enter-active .modal-content {
    transition: transform 400ms cubic-bezier(0, 0, 0.2, 1);
  }

  .modal-open-leave-active .modal-content {
    transition: transform 250ms cubic-bezier(0.4, 0, 1, 1);
  }

  .modal-open-enter .modal-content,
  .modal-open-leave-to .modal-content {
    transform: translate3d(0, 100vh, 0);
  }
}

@media (min-width: $breakpoint-small) {
  .modal-open-enter-active .modal-content {
    animation: flyIn ease-in-out 1.5s;
  }

  .modal-open-leave-active .modal-content {
    animation: flyOut ease-in-out 1s reverse;
  }

  .modal-open-leave-to .modal-content {
    transform: scale(0);
  }
}

@keyframes flyIn {
  0% {
    transform: rotate(-180deg) scale(0);
  }

  100% {
    transform: rotate(720deg) scale(1);
  }
}

@keyframes flyOut {
  100% {
    transform: rotate(720deg) scale(1);
  }

  0% {
    transform: rotate(-180deg) scale(0);
  }
}

.add-song-screen {
  min-height: 100%;
  display: flex;
  flex-flow: column;

  a,
  a:visited,
  a:hover,
  a:active {
    color: darkblue;
  }

  .header-container {
    text-align: center;
  }

  h2 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 25px;

    transform: skew(-15deg);

    font-weight: bold;
    background: yellow;
    padding: 10px 20px;
  }

  .modal-top-row {
    position: relative;
  }

  .modal-close-button {
    position: absolute;
    top: 5px;
    padding: 0px;

    svg {
      width: 30px;
      height: 30px;
    }

    @media (min-width: $breakpoint-small) {
      right: 0px;
    }
  }

  .submit-box {
    display: flex;

    margin: 20px 0px;

    height: 50px;

    .input-container {
      // 0px here keeps it from getting a weird thing specified by input, I guess?
      flex: 1 0 0px;
    }

    input {
      height: 100%;
      width: 100%;
      padding: 0 10px;

      &.invalid {
        color: red;
        border: 2px red solid;
      }
    }
  }
  .cta-button {
    margin-left: 10px;
    height: 100%;
    padding: 10px 20px;

    display: block;
    background-color: hotpink;
    color: black;
    font-weight: bold;
    font-size: 1.5em;

    &:disabled {
      cursor: default;
    }

    &:active:enabled {
      transform: translate3d(4px, 4px, 0px);
    }
  }

  button.submit-search {
    span {
      display: none;
    }

    &:after {
      content: 'is my shit';
    }

    &:enabled:hover:after {
      content: 'yeah!!!!';
    }

    &.invalid {
      background-color: red;

      &:after {
        content: 'invalid url!';
      }
    }
  }

  button.submit-song {
    margin: 0 auto;
  }

  textarea {
    width: 100%;
    height: 120px;
    padding: 20px;
  }

  .confirm-screen {
    text-align: center;
    display: flex;
    flex-flow: column;
    min-height: 100%;
  }

  .tweet-box {
    margin-bottom: 20px;
  }
}
