.audio-player {
  display: flex;
  align-items: center;

  .audio-player--controls {
    flex: 0 0 auto;
    margin-left: auto;
    display: flex;

    button {
      flex: 0 0 auto;

      height: 60px;
      width: 60px;
      border-radius: 60px;

      display: block;
      background: none;

      &:hover, &:active {
        background: white;

        .icon {
          fill: black;
        }
      }

      .icon {
        width: 40px;
        height: 40px;
        fill: white;
      }
    }
  }

  .audio-player--main {
    padding: 10px 15px;
    color: white;
    width: 300px;

    @media (max-width: $breakpoint-small) {
      display: none;
    }

    > div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .audio-player--art-container {
    flex: 0 0 80px;
    height: 100%;
    width: 80px;

    .audio-player--art {
      height: 100%;
    }

    .audio-player--art-placeholder {
      fill: white;
      height: 60px;
      width: 100%;
      margin-top: 10px;
    }
  }
}