.site-header {
  position: fixed;
  z-index: $z-header;

  top: 0;
  width: 100%;
  height: $header-height;

  background: $black;

  padding: 0 20px;

  .header-content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: $header-height;

    .sidebar-toggle {
      flex: 0 0 auto;
      margin-right: 20px;

      color: white;

      display: none;

      .icon {
        fill: white;
        width: 40px;
        height: 40px;
      }

      @media (max-width: $breakpoint-small) {
        display: block;
      }
    }

    .header-logo {
      flex: 0 0 auto;
    }

    h1 {
      margin: 0;
      margin-top: -8px;

      @media (max-width: $breakpoint-small) {
        margin: 0 auto;
        margin-top: -10px;
      }
    }

    .audio-player {
      margin-left: auto;
      height: $header-height;
    }
  }
}

h1 {
  @include box;
  font-size: 18px;
  box-shadow: yellow 10px 10px;
  color: yellow;
  padding: 10px;
  font-weight: bold;
  transform: skewY(-5deg);

  a { text-decoration: none; }
}

h1:hover {
  animation: throb 0.7s ease-in-out infinite alternate;
  cursor: pointer;
}

@keyframes throb {
  0% {
    transform: scale(1) skewY(-5deg) rotate(0deg);
  }

  100% {
    background: purple;
    transform: scale(1.5) skewY(-5deg) rotate(5deg);
  }
}
