@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700');

// TODO: cull this down
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900');

@import './mixins';
@import './z-index';

@import "./playlist.scss";
@import "./header.scss";
@import "./add-song.scss";
@import "./audio-player.scss";
@import "./settings.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 1.25em;
}

h2 {
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

a:hover, a:active {
  text-decoration: none;
}

.page-container {
  display: flex;
  flex-flow: column;

  margin: 0 auto;
  padding-top: $header-height;
  min-height: 100vh;
}

.main {
  padding: 10px;
  padding-top: 20px;
}

.main-inner {
  max-width: 800px;
  margin: 0 auto;
}

.container {
  flex: 1 0 auto;
  display: flex;
  align-items: stretch;
}

.container-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}

.sidebar {
  flex: 0 0 250px;
}

.main {
  flex: 1;

  // this rule allows this to properly shrink/apply overflow to playlist items on mobile
  min-width: 0;

  h2 {
    margin-top: 0px;
  }

  .main-placeholder {
    text-align: center;
    margin-top: 100px;
  }
}

/*
 * Sidebar
 */

button, .button {
  -webkit-appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  font-family: inherit;
}

button:active, .button:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}

.not-found-page {
  max-width: 800px;
  margin: 0px auto;
  margin-top: 40px;
  margin-bottom: 40px;
  background: hotpink;
  padding: 20px;

  img {
    max-width: 100%;
  }
}