@import './mixins';
@import './z-index';

@import './add-song.scss';
@import './settings.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 1.25em;
}

h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 1em;

  margin-top: 0px;
  margin-bottom: 24px;

  @media (max-width: $breakpoint-small) {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 16px;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

a:hover,
a:active {
  text-decoration: none;
}

.page-container {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  min-height: 100vh;
}

.main,
.logged-out-main {
  padding: 10px;
  padding-top: 20px;

  @media (max-width: $breakpoint-small) {
    padding-top: $header-height + 20px;
  }
  @media (min-width: $breakpoint-small) {
    padding-top: 40px;
  }
}

.main-inner {
  max-width: 800px;
  margin: 0 auto;
}

.container {
  flex: 1 0 auto;
  display: flex;
  align-items: stretch;
}

.container-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}

.main {
  width: 100%;

  .main-placeholder {
    text-align: center;
    margin-top: 100px;
  }
}

button,
.button {
  -webkit-appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  font-family: inherit;
}

button:active,
.button:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}

.not-found-page {
  max-width: 800px;
  margin: 0px auto;
  margin-top: 40px;
  margin-bottom: 40px;
  background: hotpink;
  padding: 20px;

  img {
    max-width: 100%;
  }
}
