@mixin box {
  background: hotpink;
  box-shadow: yellow 15px 15px;
}

$header-height: 80px;
$sidebar-width: 250px;

$black: #2f2933;
$darkblue: #01a2a6;
$lightblue: #29d9c2;
$yellow: #ffffa6;

$breakpoint-small: 768px;
