.user-header {
  .user-header-top {
    display: flex;
    align-items: center;

    margin-bottom: 10px;

    h2, button.follow-toggle {
      flex: 0 0 auto;
    }

    h2 {
      margin: 0px;
    }

    .follow-toggle {
      margin-left: auto;
    }
  }

  .user-links a.active {
    font-weight: bold;
  }

  margin-bottom: 20px;
}
