/*
 * Modals
 */

.modal-overlay {
  z-index: $z-modal-overlay;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

$modal-width: 450px;
$modal-height: 550px;

.modal-content {
  overflow: auto;

  background: $lighter-black;
  color: rgb(225, 225, 225);

  border-radius: 10px;

  position: absolute;
  z-index: $z-modal;

  @media (max-width: $breakpoint-small) {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @media (min-width: $breakpoint-small) {
    width: $modal-width;
    height: $modal-height;
    top: 50%;
    left: 50%;
    margin-top: -$modal-height/2;
    margin-left: -$modal-width/2;
  }

  padding: 20px;

  outline: none;
}

@media (max-width: $breakpoint-small) {
  .modal-open-enter-active .modal-content {
    transition: transform 400ms cubic-bezier(0, 0, 0.2, 1);
  }

  .modal-open-leave-active .modal-content {
    transition: transform 250ms cubic-bezier(0.4, 0, 1, 1);
  }

  .modal-open-enter .modal-content,
  .modal-open-leave-to .modal-content {
    transform: translate3d(0, 100vh, 0);
  }
}

@media (min-width: $breakpoint-small) {
  .modal-open-enter-active .modal-content {
    animation: desktopModalAppear 400ms cubic-bezier(0, 0, 0.2, 1);
  }

  .modal-open-leave-active .modal-content {
    animation: desktopModalLeave 250ms cubic-bezier(0.4, 0, 1, 1);
  }

  .modal-open-leave-to .modal-content {
    opacity: 0;
  }
}

@keyframes desktopModalAppear {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes desktopModalLeave {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.add-song-screen {
  min-height: 100%;
  display: flex;
  flex-flow: column;
  position: relative;

  a,
  a:visited,
  a:hover,
  a:active {
    color: rgb(225, 225, 225) !important;
  }

  .header-container {
    text-align: center;
  }

  h2 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 32px;
    line-height: 40px;
    background: $post-song-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(255, 255, 255, 0.2);
  }

  .modal-top-row {
    position: relative;
  }

  .modal-close-button {
    position: absolute;
    top: 5px;
    padding: 0px;
    color: white;

    svg {
      width: 30px;
      height: 30px;
    }

    @media (min-width: $breakpoint-small) {
      right: 0px;
    }
  }

  .submit-box {
    display: flex;

    margin: 0px 0px 20px;

    height: 50px;

    .input-container {
      // 0px here keeps it from getting a weird thing specified by input, I guess?
      flex: 1 0 0px;
    }

    input {
      height: 100%;
      width: 100%;
      padding: 0 10px;

      &.invalid {
        color: red;
        border: 2px red solid;
      }
    }
  }

  .cta-button {
    margin-left: 10px;
    height: 100%;
    padding: 10px 20px;

    display: block;
    background-color: hotpink;
    color: black;
    font-weight: bold;
    font-size: 1.5em;

    &:disabled {
      cursor: default;
    }

    &:active:enabled {
      transform: translate3d(4px, 4px, 0px);
    }
  }

  button.submit-search {
    width: 120px;

    span {
      display: none;
    }

    &:after {
      content: 'find';
    }

    &:enabled:hover:after {
      content: 'yeah!!!!';
    }
  }

  button.submit-song {
    margin: 20px auto;
    height: auto;
  }

  .confirm-screen {
    text-align: center;
    display: flex;
    flex-flow: column;
    min-height: 100%;

    ul {
      padding-left: 15px;
    }
  }
}
