.add-song-modal {
  .submit-box {
    display: flex;

    margin: 0px 0px 20px;

    height: 50px;

    .input-container {
      // 0px here keeps it from getting a weird thing specified by input, I guess?
      flex: 1 0 0px;
    }

    input {
      height: 100%;
      width: 100%;
      padding: 0 10px;
      font-size: 16px;

      &.invalid {
        color: red;
        border: 2px red solid;
      }
    }
  }

  .cta-button {
    margin-left: 10px;
    height: 100%;
    padding: 10px 20px;

    display: block;
    background-color: hotpink;
    color: black;
    font-weight: bold;
    font-size: 1.5em;

    &:disabled {
      cursor: default;
    }

    &:active:enabled {
      transform: translate3d(4px, 4px, 0px);
    }
  }

  button.submit-search {
    width: 120px;

    span {
      display: none;
    }

    &:after {
      content: 'find';
    }

    &:enabled:hover:after {
      content: 'yeah!!!!';
    }
  }

  button.submit-song {
    margin: 20px auto;
    height: auto;
  }

  .confirm-screen {
    text-align: center;
    display: flex;
    flex-flow: column;
    min-height: 100%;

    ul {
      padding-left: 15px;
    }
  }
}
