@import './mixins';
@import './z-index';

@import './add-song.scss';

* {
  box-sizing: border-box;
}

html {
  touch-action: manipulation;

  // prevent scroll bar from hiding when content is <page height. this
  // prevents content "jumping" horizontally on page load
  overflow-y: scroll;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 1.25em;

  @media (max-width: $breakpoint-small) {
    font-size: 14px;
  }
}

.webview-container * {
  -webkit-tap-highlight-color: transparent;
}

h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 1em;

  margin-top: 0px;
  margin-bottom: 24px;

  @media (max-width: $breakpoint-small) {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 16px;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

form {
  margin-bottom: 0px;
}

a:hover,
a:active {
  text-decoration: none;
}

.page-container {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  min-height: 100vh;
}

.main,
.logged-out-main {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 140px; // room for audio player + FAB

  @media (max-width: $breakpoint-small) {
    padding-top: $header-height + 20px;
  }
  @media (min-width: $breakpoint-small) {
    padding-top: 40px;
  }
}

.main-inner {
  max-width: 800px;
  margin: 0 auto;
}

.container {
  flex: 1 0 auto;
  display: flex;
  align-items: stretch;
}

.main {
  width: 100%;

  .main-placeholder {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

button,
.button {
  -webkit-appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  font-family: inherit;
}

button:active,
.button:active {
  box-shadow: none;
  transform: translate(2px, 2px);

  &:disabled {
    transform: none;
  }
}

.not-found-page {
  max-width: 800px;
  margin: 0px auto;
  margin-top: 40px;
  margin-bottom: 40px;
  background: hotpink;
  padding: 20px;

  img {
    max-width: 100%;
  }
}
