@import './normalize.css';
@import './zero.css';
@import './mixins';

form {
  margin: 0px;
}

:root {
  --mobile-header-height: calc(
    #{$header-height} + env(safe-area-inset-top, 0px)
  );
  --mobile-bottom-bar-height: calc(
    #{$mobile-tabbar-height} + env(safe-area-inset-bottom, 0px)
  );
}

html {
  touch-action: manipulation;

  // prevent scroll bar from hiding when content is <page height. this
  // prevents content "jumping" horizontally on page load
  overflow-y: scroll;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 1.25em;

  @media (max-width: $breakpoint-small) {
    font-size: 14px;
  }
}

.webview-container * {
  -webkit-tap-highlight-color: transparent;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

a {
  text-decoration: underline;
}

a:hover,
a:active {
  text-decoration: none;
}

button,
.button {
  -webkit-appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  font-family: inherit;
  line-height: 1.15em;
}

button:active,
.button:active {
  box-shadow: none;
  transform: translate(2px, 2px);

  &:disabled {
    transform: none;
  }
}
