@mixin box {
  background: hotpink;
  box-shadow: yellow 15px 15px;
}

$header-height: 60px;
$sidebar-width: 250px;
$mobile-sidebar-width: 275px;

$black: #2f2933;
$lighter-black: lighten($black, 5%);

$darkblue: #01a2a6;
$lightblue: #29d9c2;
$yellow: #ffffa6;

$post-song-gradient: linear-gradient(to right, yellow, hotpink);

$breakpoint-small: 768px;

$mobile-tabbar-height: 46px;
$player-bar-height: 80px;

// via https://github.com/twbs/bootstrap/blob/cdea25584dc7a074d099931c5be77fe3fb5fde20/scss/mixins/_visually-hidden.scss
@mixin visually-hidden() {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
