@mixin box {
  background: hotpink;
  box-shadow: yellow 15px 15px;
}

$header-height: 60px;
$sidebar-width: 250px;

$black: #2f2933;
$lighter-black: lighten($black, 5%);

$darkblue: #01a2a6;
$lightblue: #29d9c2;
$yellow: #ffffa6;

$post-song-gradient: linear-gradient(to right, yellow, hotpink);

$breakpoint-small: 768px;

$mobile-tabbar-height: 46px;
$player-bar-height: 80px;
