<html>
  <head>
    {{{meta.inject().title.text()}}}
    {{{meta.inject().meta.text()}}}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{{staticUrl}}}/favicon16.png" type="image/png" sizes="16x16">
    <link rel="icon" href="{{{staticUrl}}}/favicon32.png" type="image/png" sizes="32x32">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700&display=fallback" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=fallback" rel="stylesheet">

    {{{productionScripts}}}

    <script src="https://js-cdn.music.apple.com/musickit/v1/musickit.js"></script>
  </head>

  <body>
    <div id="app">
      <!--vue-ssr-outlet-->
    </div>
    {{{spriteContent}}}
  </body>
</html>