{% extends "base" %}
{% import "cta" %}
{% import "bigcode" %}

{% block preheader %}
Click here to sign in.
{% endblock %}

{% block header %}
<h1>Hey {{name}}!</h1>
{% endblock %}

{% block main %}
{% if sendCodeInsteadOfLink == true %}
    <p>Welcome back! Just copy-paste the code below into your browser and you'll be good to go:</p>
    {{ bigcode(code = shortCode) }}
{% else %}
    <p>Welcome back! Just click the link below to sign back in:</p>
    {{ cta(ctaUrl=signInLink, ctaText='Log in!') }}
{% endif %}
{% endblock %}