{% extends "base" %}
{% import "cta" %}

{% block preheader %}
Click here to sign up.
{% endblock %}

{% block header %}
<h1>Hi there!</h1>
{% endblock %}

{% block main %}
{% if sendCodeInsteadOfLink == true %}
    <p>Welcome to Jam Buds! Just paste the following code back into your browser to continue:</p>
    {{ cta(ctaUrl=registrationLink, ctaText='Sign up now!') }}
{% else %}
    <p>Welcome to Jam Buds! Just click the link below to get started:</p>
    {{ cta(ctaUrl=registrationLink, ctaText='Sign up now!') }}
{% endif %}
{% endblock %}