.audio-player {
  display: flex;
  align-items: center;

  .audio-player--controls {
    flex: 0 0 auto;
    display: flex;

    button {
      flex: 0 0 auto;

      height: 60px;
      width: 60px;
      border-radius: 60px;

      display: block;
      background: none;
      color: white;
      font-size: 40px;
      text-align: center;

      &:hover, &:active {
        background: white;
        color: black;
      }
    }
  }

  .audio-player--main {
    flex: 1 1 auto;
    padding: 10px 15px;
    color: white;
    min-width: 0;

    > div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .audio-player--art {
    flex: 0 0 80px;
    height: 100%;
  }
}