@import './mixins';

.site-header {
  position: fixed;
  z-index: 1;

  top: 0;
  width: 100%;
  height: $header-height;

  background: $black;

  padding: 0 20px;

  .header-content {
    display: flex;
    align-items: center;
    margin: 0 auto;

    h1 {
      flex: 0 0 auto;
      margin: 0;
      margin-top: -8px;
    }

    .audio-player {
      flex: 0 1 500px;
      max-width: 500px;
      height: 80px;
      margin-left: auto;
    }
  }
}

h1 {
  @include box;
  font-size: 18px;
  box-shadow: yellow 10px 10px;
  color: yellow;
  padding: 10px;
  font-weight: bold;
  transform: skewY(-5deg);

  a { text-decoration: none; }
}

h1:hover {
  animation: throb 0.7s ease-in-out infinite alternate;
  cursor: pointer;
}

@keyframes throb {
  0% {
    transform: scale(1) skewY(-5deg) rotate(0deg);
  }

  100% {
    background: purple;
    transform: scale(1.5) skewY(-5deg) rotate(5deg);
  }
}
