@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@import "~normalize.css/normalize.css";

body {
  font-family: 'Open Sans', sans-serif;
  background: url('../assets/bg.jpg');
}

header {
  margin: 1em 0;
}

@mixin box {
  background: hotpink;
  box-shadow: yellow 15px 15px;
}

h1 {
  @include box;
  color: yellow;
  display: inline-block;
  padding: 10px;
  font-weight: bold;
  transform: skewY(-5deg);

  a { text-decoration: none; }
}

h1:hover {
  animation: throb 0.7s ease-in-out infinite alternate;
  cursor: pointer;
}

@keyframes throb {
  0% {
    transform: scale(1) skewY(-5deg) rotate(0deg);
  }

  100% {
    background: purple;
    transform: scale(1.5) skewY(-5deg) rotate(5deg);
  }
}

h2 {
  font-weight: normal;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

a, a:visited {
  color: yellow;
}

a:hover, a:active {
  text-decoration: none;
}

/*
 * Page positioning
 */

html, body, .react-root, .app-container {
  min-height: 100%;
}

$rainbow-length: 1000px;

.top-container {
  display: flex;
  align-items: center;

  header {
    flex: 0 0 auto;
  }

  .submit-box {
    flex: 1 0 auto;
    margin-left: 150px;

    height: 50px;

    input {
      padding: 0 10px;
    }

    input, button {
      transform: skew(-15deg) translate3d(0px, 0px, 0px);
      height: 100%;
    }

    button {
      background-color: yellow;
      color: black;
      font-weight: bold;
      font-size: 1.5em;
      padding: 0px 0px;
      width: 155px;

      span {
        display: none;
      }

      &:disabled {
        cursor: default;
      }

      &:after {
        content: 'is my shit';
      }

      &:enabled:hover:after {
        content: 'yeah!!!!';
      }

      &:active:enabled {
        transform: skew(-15deg) translate3d(4px, 4px, 0px);
      }
    }
  }
}

.app-container {
  display: flex;
  flex-flow: column;
  max-width: 1000px;
  margin: 0 auto;
}

.main, .sidebar {
  @include box;
  padding: 10px;
}

.container {
  flex: 1 0 auto;
  display: flex;
  align-items: stretch;
  margin-bottom: 50px;
}

.sidebar {
  flex: 0 0 250px;
}

.main {
  flex: 1 0 auto;
  margin-left: 30px;

  h2 {
    margin-top: 0px;
  }
}

/*
 * Sidebar
 */

.submit-box {
  display: flex;

  margin: 20px 0px;

  .input-container {
    // 0px here keeps it from getting a weird thing specified by input, I guess?
    flex: 1 0 0px;
  }

  input {
    width: 100%;
  }

  button {
    flex: 0 0 auto;
    margin-left: 10px;
  }
}

button {
  /*background-color: purple;
  color: yellow;*/
  /*box-shadow: yellow 2px 2px;*/
  -webkit-appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
}

button:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}

/*
 * Modals
 */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

$modal-width: 450px;
$modal-height: 450px;

.modal-content {
  overflow: auto;

  background: skyblue;
  box-shadow: yellow 15px 15px;

  position: absolute;
  width: $modal-width;
  height: $modal-height;
  top: 50%;
  left: 50%;
  margin-top: -$modal-height/2 - 20px;
  margin-left: -$modal-width/2 - 20px;

  padding: 20px;

  outline: none;
}

.ReactModal__Content--after-open {
  animation: flyIn ease-in-out 1.5s;
}

.ReactModal__Content--before-close {
  animation: flyOut ease-in-out 1s reverse;
}

@keyframes flyIn {
  0% {
    transform: rotate(-180deg) scale(0);
  }

  100% {
    transform: rotate(720deg) scale(1);
  }
}

@keyframes flyOut {
  100% {
    transform: rotate(720deg) scale(1);
  }

  0% {
    transform: rotate(-180deg) scale(0);
  }
}

.add-song-screen {
  a {
    color: darkblue;
  }

  .header-container {
    text-align: center;
  }

  h2 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 25px;

    transform: skew(-15deg);

    font-weight: bold;
    background: yellow;
    padding: 10px 20px;
  }
}

/* Remove scroll on the body when react-modal is open */
.ReactModal__Body--open {
    overflow: hidden;
}