@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@import './mixins';
@import './z-index';

@import "~normalize.css/normalize.css";
@import "./playlist.scss";
@import "./sidebar.scss";
@import "./header.scss";
@import "./add-song.scss";
@import "./audio-player.scss";
@import "./settings.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: url('../assets/bg.jpg');
}

h2 {
  font-weight: normal;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

a, a:visited {
  color: yellow;
}

a:hover, a:active {
  text-decoration: none;
}

/*
 * Page positioning
 */

html, body, .react-root, .app-container, .page-container {
  min-height: 100%;
}

.page-container {
  display: flex;
  flex-flow: column;

  margin: 0 auto;
  padding-top: $header-height;
}

.main, .sidebar {
  padding: 10px;
  padding-top: 20px;
}

.sidebar {
  background: lighten($black, 15%);
  color: white;

  @media (max-width: $breakpoint-small) {
    position: fixed;
    width: 300px;
    height: 100%;
    top: $header-height;
    left: -300px;
    z-index: 2;

    transition: 0.2s left ease-in;

    &.-open {
      left: 0;
    }
  }
}

.main-inner {
  max-width: 800px;
  margin: 0 auto;
}

.container {
  flex: 1 0 auto;
  display: flex;
  align-items: stretch;
}

.container-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}

.sidebar {
  flex: 0 0 250px;
}

.main {
  flex: 1;

  // this rule allows this to properly shrink/apply overflow to playlist items on mobile
  min-width: 0;

  h2 {
    margin-top: 0px;
  }

  .main-placeholder {
    text-align: center;
    margin-top: 100px;
  }
}

/*
 * Sidebar
 */

button {
  -webkit-appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

button:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}

.logged-out-homepage {
  position: relative;

  max-width: 600px;
  height: 800px;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 0 20px;

  background-image: url('../assets/ghettoblaster_corgi.png');
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 15px hotpink solid;

  text-align: center;

  .lower {
    margin-top: 450px;
  }

  .twitter-auth {
    margin-top: 30px;
  }

  .twitter-auth button {
    display: block;
    margin: 10px auto;
    padding: 10px;

    background-color: yellow;
    color: black;
    font-weight: bold;
    font-size: 1.5em;

    &:active {
      transform: translate3d(4px, 4px, 0px);
    }
  }

  .attribution {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 15px;

    font-size: 12px;

    a, a:visited, a:hover, a:active {
      color: hotpink;
    }
  }
}