.submit-box {
  display: flex;

  margin: 20px 0px;
  margin-left: 150px;

  height: 50px;

  .input-container {
    // 0px here keeps it from getting a weird thing specified by input, I guess?
    flex: 1 0 0px;
  }

  input {
    width: 100%;
    padding: 0 10px;

    &.invalid {
      color: red;
      border: 2px red solid;
    }
  }

  input, button {
    transform: skew(-15deg) translate3d(0px, 0px, 0px);
    height: 100%;
  }

  button {
    flex: 0 0 auto;
    margin-left: 10px;

    background-color: yellow;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0px 0px;
    width: 155px;

    &:disabled {
      cursor: default;
    }

    span {
      display: none;
    }

    &:after {
      content: 'is my shit';
    }

    &:enabled:hover:after {
      content: 'yeah!!!!';
    }

    &.invalid {
      background-color: red;

      &:after {
        content: 'invalid url!';
      }
    }

    &:active:enabled {
      transform: skew(-15deg) translate3d(4px, 4px, 0px);
    }
  }
}